body {
    background: linear-gradient(180deg, #6D3A8C 5%, #010913 67%);
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    padding: 5%;
    min-height: 100vh;
}

.contact {
    width: 100%;
    align-self: center;
    padding: 5%;
    border-radius: 10px;
    border-style: solid;
    border-color: #FEF6E6;
    letter-spacing: 2px;
    background-color: #6D3A8C;
    color: #FEF6E6;
}

.contact-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.contact-info label{
    color: #FEF6E6;
}

.contact-info a {
    color: #FEF6E6;
    background-color: #332620;
    text-align: center;
    border-radius: 10px;
    width: 30%;
    height: auto;
    border: none;
    text-decoration-line: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
}

@media (max-width: 768px) {
    .container{
        width: 100%;
    }

    .contact-info a{
        padding: 1%;
        width: 100%;
    }

}

@media (max-width: 480px) {
    .container{
        width: 100%;
    }

    .contact-info a{
        padding: 1%;
        width: 100%;
    }
}


