* {
  font-family: "Lobster", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  background: #332620;
  height: 80px;
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  box-shadow: 0 4px 2px -2px gray;



}


.logo {
  width: 10%;
  max-width: 150px;  
  height: auto;
  padding-left: 10px;  
  padding-right: 10px;
}


.headerlinks {

  background-color: #FFFAF0;
  height:50px;
  margin-top: 10px;
  border-radius: 10px;


 

}

.headerlinks a {

  display: inline-block;
  color: rgb(51, 38, 32);
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 85%;
  line-height: 50px;
  border-radius: 10px;

  

}


.headerlinks a:hover {
  background-color: #C3B7D8;
   border: 2px solid #332620;

}

.textbox {
  padding: 6px;
  margin-top: 20px;
  font-size: 100%;
  border: none;
  width: 90%;
  height: 30px;
  cursor: text;
  background-color: #FFFAF0;
  border-radius: 2%;



}

.search-container {
  padding: 6px 10px;
  font-size: 100%;
  
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .headerlinks {
    display: block;
    text-align: center;

  }

  .headerlinks a {
    padding: 15px;
    font-size: 100%;

  }

  .search-container {
    width: 50%;
    text-align: center;
    margin-top: 10px;


  }

  .textbox {
    width: 100%;
 
  }
  .logo {
    width: 50%;  
    max-width: 100%;
  }
}