.orderdetails{
    background: linear-gradient(180deg, #6D3A8C 5%, #010913 100%);
 padding:2%;

 min-height:100vh;

text-align:center;




}

h2{
  color:#FEF6E6;
}

select{
 border-radius:8px;
 padding:1%;
 
}
select:hover{
     background-color: #C3B7D8;
}

select option:checked{
 background-color:#332620;
 color:#FEF6E6;
}

.orderdetails input{
 padding:1%;
 cursor:pointer;

 
}
.orderdetails input:hover{
     background-color:#332620;
 color:#FEF6E6;

 
}
