


body{

  background-color: #FEF6E6;
  margin: 0;
  padding: 0;


}

*{
   font-family: "Lobster", sans-serif;
}




button:hover {
  background-color: #4A3A2D;
  color:#FEF6E6;
  }
  
  

input:hover{
background-color: #C3B7D8;
}


.mainpage{

  position:relative;
  background-color: #C3B7D8;
  margin: auto;
  width:100%;
  min-height:100vh;

}