body{
  margin-top: 100px;
  background-color: #C3B7D8;
  font-size: 4vw;
  margin-top: 100px;

}

*{
   font-family: "Lobster", sans-serif;
}



.button:hover {
background-color: #4A3A2D;
}


.input:hover{
background-color: #4A3A2D;
}
