body{
    background: linear-gradient(180deg, #6D3A8C 5%, #010913 67%);
}

.container_cart{
    display: flex;
    flex-direction: column;
    width:100%;
    min-height: 100vh;
    padding-right: 2%;
}

li{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: #FEF6E6;
    background: #6D3A8C;
    border-radius: 10px;
    padding:1%;
}

.container_cart h1{
    text-align: center;
    font-size: 1.5vw;
    padding-top: 15px;
    color: #FEF6E6;
}

.description{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    font-size: 1.5vw;
    margin-left: 5%;
    color: #FEF6E5;
}

.description a{
    text-align: center;
    background-color: #FEF6E6;
    border-radius:20px;
    color: #6D3A8C;
    width: 30%;
}

.description a:hover{
    background-color: deeppink;
}

p{
    font-size: 1.5vw;
    color: #FEF6E6;
}

@media (max-width: 480px) {
    .container_cart{
        padding: 10px;
        width: 90%;
    }
    .noOrder{
        width: 100%;
    }
}