<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">


    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>controller.everyone.RegistrationServlet</servlet-class>
    </servlet>

   
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/Registrazione</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.everyone.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>controller.everyone.HomepageServlet</servlet-class>
    </servlet>

        <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>

    
    <welcome-file-list>
     <welcome-file>homepage.jsp</welcome-file> 
    </welcome-file-list>

    <servlet>
        <servlet-name>Vinili</servlet-name>
        <servlet-class>controller.everyone.ViniliServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Vinili</servlet-name>
        <url-pattern>/Vinili</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CD</servlet-name>
        <servlet-class>controller.everyone.CDServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CD</servlet-name>
        <url-pattern>/CD</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Giradischi</servlet-name>
        <servlet-class>controller.everyone.GiradischiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Giradischi</servlet-name>
        <url-pattern>/Giradischi</url-pattern>
    </servlet-mapping>

</web-app>
