<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

<context-param>
    <param-name>jakarta.servlet.jsp.el.ignored</param-name>
    <param-value>false</param-value>
</context-param>

    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>controller.everyone.RegistrationServlet</servlet-class>
    </servlet>

   
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/Registrazione</url-pattern>
    </servlet-mapping>

       <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.everyone.LogoutServlet</servlet-class>
    </servlet>

   
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.everyone.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>controller.everyone.HomepageServlet</servlet-class>
    </servlet>

        <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>

    

    <servlet>
        <servlet-name>Prodotto</servlet-name>
        <servlet-class>controller.everyone.ProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Prodotto</servlet-name>
        <url-pattern>/Prodotto</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>ListaProdotti</servlet-name>
        <servlet-class>controller.everyone.ProductsListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListaProdotti</servlet-name>
        <url-pattern>/ListaProdotti</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>controller.everyone.CartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartOrder</servlet-name>
        <servlet-class>controller.everyone.CartOrderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CartOrder</servlet-name>
        <url-pattern>/CartOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfermaOrdine</servlet-name>
        <servlet-class>controller.everyone.ConfermaOrdineServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConfermaOrdine</servlet-name>
        <url-pattern>/ConfermaOrdine</url-pattern>
    </servlet-mapping>

</web-app>
